doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title M-Store
    link(rel="stylesheet" href="panel/plugins/fontawesome-free/css/all.min.css")
    link(rel="stylesheet" href="panel/dist/css/adminlte.min.css")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet")
  body.hold-transition.sidebar-mini
    .wrapper
      include includes/panel/topnav.pug
      include includes/panel/sidenav.pug

      .content-wrapper
        .content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1.m-0.text-dark Starter Page
              .col-sm-6
                ol.breadcrumb.float-sm-right
                  li.breadcrumb-item
                    a(href="#") Home
                  li.breadcrumb-item.active Starter Page
        .content
          .container-fluid
            .row
              .col-lg-6
                .card
                  .card-body
                    h5.card-title Card title
                    p.card-text
                      | Some quick example text to build on the card title and make up the bulk of the card's
                      | content.
                    a.card-link(href="#") Card link
                    a.card-link(href="#") Another link
                .card.card-primary.card-outline
                  .card-body
                    h5.card-title Card title
                    p.card-text
                      | Some quick example text to build on the card title and make up the bulk of the card's
                      | content.
                    a.card-link(href="#") Card link
                    a.card-link(href="#") Another link
              .col-lg-6
                .card
                  .card-header
                    h5.m-0 Featured
                  .card-body
                    h6.card-title Special title treatment
                    p.card-text With supporting text below as a natural lead-in to additional content.
                    a.btn.btn-primary(href="#") Go somewhere
                .card.card-primary.card-outline
                  .card-header
                    h5.m-0 Featured
                  .card-body
                    h6.card-title Special title treatment
                    p.card-text With supporting text below as a natural lead-in to additional content.
                    a.btn.btn-primary(href="#") Go somewhere
      aside.control-sidebar.control-sidebar-dark
        .p-3
          h5 Title
          p Sidebar content
      footer.main-footer
        .float-right.d-none.d-sm-inline
          | Anything you want
        strong
          | Copyright © 2020
          a(href="/") Kayode Adeniyi
          | .
        |  All rights reserved.
    script(src="panel/plugins/jquery/jquery.min.js")
    script(src="panel/plugins/bootstrap/js/bootstrap.bundle.min.js")
    script(src="panel/dist/js/adminlte.min.js")
