// Require static assets from public folder
app.use(express.static(path.join(__dirname, 'public')));

// Set 'views' directory for any views
// being rendered res.render()
app.set('views', path.join(__dirname, 'views'));

// Set view engine as EJS
app.engine('html', require('pug').renderFile);
app.set('view engine', 'html');


extends partials/layout
block content
  .container.mt-4
    +alert(message)
    h1 Hi, welcome #{user}, we offer the best e-commerce platform on Pluto and Mars.

